
<h1>New Event</h1>

<%= form_with model: @event, local: true do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit "Create Event" %>
  </div>
<% end %>
